/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
body {
    .site-description{
       display: none;

   }
}
//    fixed header 
.page-find-us,
.blog,
.archive {
    .site-header{
    background-color: hsla(0,0%,100%,.85);
    border-bottom: 1px solid #e1e1e1;
    position: fixed;
    width: 100%;
    z-index: 3;
    }
 .fixed-header{
     display: flex;
     flex-direction: row;
     justify-content:space-between;
 }
 .main-navigation{
     display: flex ;
 }
 .header-logo{
    height: 50px;
    width: 50px;
}
.logo-white {
    display: none;
}
.search-form {
        display:inline-block;
    .search-field{
        display:none;
        background:transparent;
        border:none;
        outline:none;
    }
    .search-submit{
        background:transparent;
        border:none;
        box-shadow: none;
        text-shadow:none;
        color:$color__main;
    }
   
}
}
    
//  --- end of header ---



//-- find us page-- 
.page-find-us {
    .site-main{
      padding:40px;
    }
    h1, h3 {
        @include main-font-style;
        text-align: left;
        font-size: 1.9rem;
        font-weight: 600;  
        h3{
            @include main-font-style;
            color: $color__text-screen;
            margin: 0;
        } 
    }
    label{
        @include main-font-style;
        color:$color__text-screen;
        margin-bottom: .5rem;
        .required{
            color: #D99054;
            size: 0.5rem;
        }
    }      
}
       
 
// 404 page
.error404{
    .content-area{
        padding:48px;
    }
    h1,h2{
        @include main-font-style;
        text-align: left;
        color: $color__text-screen;
    
    }
    
    .page-content{
        ul{
            list-style:none;
            margin-left:0;
            padding-left:0;
            a{
                color:$color__main;
            }
        }
        .search-submit{
            display: none;
        }
    }
}





// shop page

