.page-about{
    .entry-content{
        margin-top: 0;
    }
    .hero-image-header{
           height: 100vh;
       }
.site-header{
   .menu-item{
   a{
    color:white;
   } 
   } 
    border:none;
}

.entry-title{
    @include main-font-style;
    text-align: center;
    color:white;
    letter-spacing: 1px;
    font-size: 2.4rem;
    font-weight: 600;
}
.about-content{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
        h2{
            @include main-font-style;
            text-align: center;
            font-size:2.1rem;
            color: $color__text-screen;
            letter-spacing: 3px;
            margin-bottom: 1.5rem;
        }
    }

}

