/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
	
	margin: 0 0 $base__space-unit;
	
	select {
		max-width: 100%;
	}
}
.widget-area{
	border-left:1px solid #a1a1a1;
	padding:1rem;
	a{
		color:#248A83;
	}
}

// /* Search widget. */
// .widget_search .search-submit {
// 	display: none;
// }
