/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
body{

	.widget {
		padding-left: 5%;
		color:$color__text-screen;
		
		}
		margin: 0 0 $base__space-unit;
		
		select {
			max-width: 100%;
		}
		ul {
			margin: 0;
			padding: 0;
			li {
			list-style: none;
			margin: 0;
			padding: 0;
		}
		
	}
	.widget-area{
		border-left:1px solid #a1a1a1;
		a{
			color:#248A83
		}
		
	}
	}

// /* Search widget. */
// .widget_search .search-submit {
// 	display: none;
// }
