.page-about{
    
    // .entry-header {
    //     position: relative;

     .hero-image-header{
            height: 100vh;
            width: 100%;
            background-color: red;
        }
    // }
    
    
}

